---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import voterGuideImage from '~/assets/images/voter-guide-2024.jpg';
import voterGuideImage2022 from '~/assets/images/voter-guide-2022.jpg';
import calmattersNewsroom from '~/assets/images/calmatters-newsroom.jpg';
import informationArchitecture from '~/assets/images/information-architecture.jpg';
import headshot from '~/assets/images/headshot.jpg';


const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'About', href: '#about' },
        { text: 'Projects', href: '#portfolio' },
        { text: 'Contact', href: '#contact' },
      ]}
      actions={[
        {
          text: 'Resume',
          href: '/resume.pdf',
          target: '_blank',
      },
      ]}
      showToggleTheme
      position="right"
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Product Strategy and Data Analytics"
  >
    <Fragment slot="subtitle">
      I build digital experiences, analyze data and improve processes in fast-paced newsroom environments 
      to maximize growth, engagement, and operational excellence.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={2}
    classes={{ container: 'max-w-8xl' }}
    image={{
      src: headshot,
      alt: 'Shyla Nott - Product Manager and Data Analytics Expert',
      width: 600,
      height: 600,
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I'm a digital product leader with over 10 years of experience working in media. I specialize in 
        translating insights into practical improvements: redesigning civic engagement tools to boost SEO and recirculation, 
        building dashboards that help editors act faster, and developing editorial products that empower California voters. 
        I’m especially drawn to projects where editorial, product, and technology intersect.
      </p>
      <br />
      <p>
        At CalMatters, I built three digital voter guides, drove strategic web improvements such as recirculation elements 
        and enhanced author bio pages. My work (and the work of many colleagues) helped CalMatters earn the 2022 EPPY Award for 
        Best Online-Only News Website, and as a finalist for General Excellence in Online Journalism in the 2025 Online News Awards.     
      </p>
      <br />
      <p>I sought out a CMS solution for a nonprofit newsroom and spearheaded its website migration and redesign. I've launched and 
      written a weekly newsletter, driven SEO improvements that grew monthly organic search traffic by over 100%, designed and built 
      analytics dashboards, and delivered weekly reports that help editorial teams make sense of the metrics that really matter.</p>
      <br>
      <p>I have a master's from Northwestern University's Medill School of Journalism, and I'm a graduate of the 2024 Online News 
        Association Women's Leadership Accelerator.</p>    
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-patina-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Experience"
    items={[
      {
        title:
          'Product Manager <br /> <span class="font-normal">CalMatters</span> <br /> <span class="text-sm font-normal">Dec 2021 - Mar 2025</span>',
        description: `Led and supported product initiatives that strengthened organic search growth, deepened engagement, and improved the reader experience.`,
        icon: 'tabler:report-analytics',
      },
      {
        title:
          'Analytics Manager <br /> <span class="font-normal">CalMatters</span> <br /> <span class="text-sm font-normal">Oct 2020 - Dec 2021</span>',
        description: `Built an analytics structure, including dashboards and weekly reports, that guided efforts to build an audience while informing and assessing the success of digital product initiatives.`,
        icon: 'tabler:chart-bar',
      },
      {
        title:
          'Digital Content Manager <br /> <span class="font-normal">inewsource</span> <br /> <span class="text-sm font-normal">June 2020 - Sep 2020</span>',
        description: `Oversaw the flawless execution of content across the website and all digital marketing channels, ensuring accuracy and timely delivery.`,
        icon: 'tabler:device-desktop-analytics',
      },
      {
        title:
          'Web and Social Media Producer <br /> <span class="font-normal">inewsource</span> <br /> <span class="text-sm font-normal">June 2020 - Sep 2020</span>',
        description: `Executed web content production and led multi-platform digital strategies across social media.`,
        icon: 'tabler:social',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** 

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `M.S. Journalism <br /> <span class="font-normal">Northwestern University's Medill School of Journalism</span> <br />`,
        icon: 'tabler:school',
      },
      {
        title: `B.A. Journalism & Mass Communication <br /> <span class="font-normal">University of Iowa</span> <br />`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Graphic design',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Branding and identity',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
      },
      {
        title: 'User-centered design',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Skilled in using Photoshop, Illustrator, and InDesign to create and edit visual elements.',
      },
      {
        title: 'Typography',
        description: 'Adept in selecting and manipulating typefaces to enhance design aesthetics.',
      },
      {
        title: 'Color theory',
        description: 'Proficient in using color to evoke emotions and enhance visual harmony.',
      },
      {
        title: 'Print and digital design',
        description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    id="portfolio"
    title="Projects"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'A digital guide that helped 1 in 5 California voters understand ballot measures, races and candidates during the 2024 primary and general elections. Iterating on the 2022 guide, this version utilizes persistent global navigation and a more intuitive user experience.',
      },
      {
        title: 'Role:',
        description:
          'Defined the product requirements, led the SEO strategy, built the analytics framework, implemented product feedback surveys, and co-led the product development from concept to execution by partnering with design, engineering, editorial and marketing teams.',
      },
    ]}
    image={{
      src: voterGuideImage,
      alt: '2024 Voter Guide Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://calmatters.org/california-voter-guide-2024/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        2024 Voter Guide
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-patina-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Building on the record traffic of the 2020 guide, this voter guide surpassed it in traffic — reaching 1 in 10 California voters — the majority of which found the guide through organic search.',
      },
      {
        title: 'Role:',
        description: `Co-led the planning, development and execution of the guide in addition to owning the digital production workflow and monitoring analytics to track product performance. Collaborated closely with a team of designers, developers, and business stakeholders to ensure timely delivery. Led SEO strategy and developed editorial SEO playbook for the 2022 elections, which included technical, on-page and content optimization tactics.`,
      },
    ]}
    image={{
      src: voterGuideImage2022,
      alt: '2022 Voter Guide Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://calmatters.org/california-voter-guide-2022/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        2022 Voter Guide
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-patina-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Designed and operated a data structure that guided efforts to build an audience and 
        analyzed the success of product initiatives.`,
      },
      {
        title: 'Role:',
        description: `I built and maintained 10+ Looker dashboards, tracked and monitored KPIs monthly through spreadsheet-based reporting, wrote weekly analytics reports distributed across the organization, and wrote annual analytics reports that informed board meetings and executive decisions.`,
      },
    ]}
    image={{
      src: calmattersNewsroom,
      alt: 'Image of CalMatters sign',
    }}
    callToAction={{
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '/projects/calmatters-dashboards',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Data Infrastructure & Dashboards
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-patina-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

    <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `At CalMatters, I led a cleanup of the site's taxonomy, which included over 13,000 tags and 180 categories, and established the organization's first system for content tagging and categorization to optimize the information architecture, improve content discoverability, and align with user intent.`,
      },
      {
        title: 'Role:',
        description: `I audited the taxonomy and tagging workflow, researched taxonomy best practices and approaches from other news product and technical leads, researched technical solutions, and executed a massive (96%) cleanup of outdated, duplicate and low-quality metadata while establishing guardrails, writing guidelines for tag creation, and providing ongoing maintenance.`,
      },
    ]}
    image={{
      src: informationArchitecture,
      alt: 'Information Architecture Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Taxonomy Overhaul
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-patina-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** 

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** 

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  /> -->

  <!-- BlogLatestPost Widget **************** 

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-patina-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->

<!-- Contact Section *************** -->

<Hero
  id="contact"
  title="Get In Touch"
>
  <Fragment slot="subtitle">
    I'm currently looking for new opportunities and would love to learn more about your project. Contact me at <a href="mailto:shyla.nott@gmail.com" class="cursor-pointer hover:text-finlandia-400 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:right-0 after:h-0.5 after:bg-finlandia-400 dark:after:bg-blue-700 after:scale-x-0 after:origin-left after:transition-transform after:duration-300 after:ease-in-out hover:after:scale-x-100">shyla.nott@gmail.com</a> or find me on <a href="https://www.linkedin.com/in/shylanott/" class="cursor-pointer hover:text-finlandia-400 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:right-0 after:h-0.5 after:bg-finlandia-400 dark:after:bg-blue-700 after:scale-x-0 after:origin-left after:transition-transform after:duration-300 after:ease-in-out hover:after:scale-x-100">LinkedIn</a>.
  </Fragment>
</Hero>

</Layout>
